<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='..\static\css\bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='..\static\css\custom.css'>
    <script src='main.js'></script> 
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <H1 class="cust-text-white text-center">Кругликов Иван</H1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
                <div class="col-4 ">
                    <H5 class="cust-text-white">Образование</H5> 
                </div>
                <div class="col-2">
                    <H5 class="cust-text-white">навыки</H5> 
                </div>

        </div>

    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card cust-card-bg" style="width: 18rem;">
                    <img src="..\static\img\1.jpg" class="card-img-top" height="150"  alt="...">
                    <div class="card-body">
                    <h5 class="card-title cust-text-white">Заголовок карточки</h5>
                    <p class="card-text cust-text-gray">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-secondary cust-btn-bg">Перейти куда-нибудь</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card cust-card-bg" style="width: 18rem;">
                    <img src="..\static\img\2.jpg" class="card-img-top"  height="150" alt="...">
                    <div class="card-body">
                    <h5 class="card-title cust-text-white">Заголовок карточки</h5>
                    <p class="card-text cust-text-gray">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-secondary cust-btn-bg">Перейти куда-нибудь</a>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 ">
                <H5 class="cust-text-white">контакты</H5> 
            </div>
            <div class="col-2">
                <H5 class="cust-text-white">Навыки</H5> 
            </div>
        </div>
    </div>
    <script src="..\static\js\bootstrap.js"></script>
</body>
</html>